* {
    font-family: "Roboto", sans-serif, 'Times New Roman', Times, serif;
    color: white;
}

body {
    background-color: #222;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    position: sticky;
    border-bottom: 1px solid black;
    top: 0;
    background-color: rgb(239, 235, 235);
    background-image: linear-gradient(to right, rgb(54, 182, 221), rgb(155, 236, 41));
    backdrop-filter: blur(4px);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.nav-left {
    display: flex;
}

.logo {
    border-radius: 50%;
    margin: 0, 2rem;
}

.nav-name {
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}

.nav-right {
    margin: auto;
}

.nav-items-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.nav-items {
    margin: 1rem;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: tomato;
}

@media (max-width:873px) {
    .navbar-container {
        display: block;
    }
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width:7686px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}

/* Hero Section css*/

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
}

.hero-image {
    max-width: 100%;
    height: auto;
    margin: 0, auto;
    display: block;
}

.title {
    text-align: center;
}

.hero-left,
.hero-right {
    width: 100%;
}

@media (min-width:992px) {

    .hero-left {
        width: 40%;
    }

    .hero-right {
        width: 60%;
    }
}


.description {
    padding: 0, 1rem;
    text-align: justify;
    line-height: 1.5rem;
}